<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117286626148-9g739sb0oskn7toil78o2u673o4gl6ao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117286626148-9g739sb0oskn7toil78o2u673o4gl6ao</string>
	<key>API_KEY</key>
	<string>AIzaSyAhLdo5K6FzbyoWsbRS3WDTR59iciu5FGs</string>
	<key>GCM_SENDER_ID</key>
	<string>117286626148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AnneWang.FoodInventoryApp</string>
	<key>PROJECT_ID</key>
	<string>food-inventory-d0cee</string>
	<key>STORAGE_BUCKET</key>
	<string>food-inventory-d0cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117286626148:ios:426e3925750a05dac29071</string>
	<key>DATABASE_URL</key>
	<string>https://food-inventory-d0cee.firebaseio.com</string>
</dict>
</plist>